{{ define "main" }}
<div class="banner_list_container">
    <figure class="banner_image">
        <a href="/" class="image_link">
            <img src="/images/now_banner.png"></img>
        </a>
    </figure>
    <div class="now_content">
        <h3>🧠 Building Tools for Tho<span style="text-decoration: line-through;">ugh</span>t</h3>
        <p>
            I haven't been this excited about side projects in a while. Here are a few things I'm working on: 
            <ul>
                <li>First, I'm building a system that will let me search through everything I've ever 
                    written, seen, read, or found impactful in some way. Check out my
                    <a href="https://tinyletter.com/nikhilthota/letters/s02-e05-on-booling-knowledge-management-tooling">newsletter</a>
                    for more context.
                </li>
                <li>
                    The second thing I'm building is a "stream of thots" which will serve to 
                    be a curated Twitter feed for myself. Check out this letter on 
                    <a href="https://tinyletter.com/nikhilthota/letters/s03-e02-the-fall-of-flights">microblogging</a>
                    for more context.
                </li>
            </ul>
        </p>
        <h3>📝 Writing a blog & newsletter</h3>
        <p>
            This website / blog and <a href="https://tinyletter.com/nikhilthota">Thot's Thoughts</a>
            (monthly newsletter) are my avenues for creative output. My goal is to write a few thot-ful
            things every month.
        </p>
        <!-- <h3>🏊🏽‍♂️ Learning to Swim</h3>
        <p>
            Somehow, I've made it 25 years without learning how to *properly* swim. Over the
            years, I've made many <a
                href="https://tinyletter.com/nikhilthota/letters/s02-e04-aquatic-confessions">attempts</a> to learn, but
            they've not stuck. I'm using my free time to become a strong swimmer by the end of the summer.
        </p> -->
        <h3>👨🏽‍💻 Engineering @ WhatsApp</h3>
        <p>
            I'm excited to say that I'm <a
                href="https://www.linkedin.com/feed/update/urn:li:activity:6811013817716363264/">now</a> an engineer on
            the Graph Infra team at WhatsApp (the address book,
            group messaging, blocklists, etc.) — I'm spending my time learning Erlang, functional programming, and containerization.
        </p>
        <h3>🎶 Listening History</h3>
        <p class="italic">My top artists for the past month, pulled from my
            <a href="https://open.spotify.com/user/1245029147">Spotify</a> using their
            <a href="https://developer.spotify.com/console/get-current-user-top-artists-and-tracks/?type=artists&time_range=short_term&limit=&offset=">API</a>:
        </p>
        <ul>
            <li><a href="https://open.spotify.com/artist/6qqNVTkY8uBg9cP3Jd7DAH">Billie Eilish</a></li>
            <li><a href="https://open.spotify.com/artist/1uiEZYehlNivdK3iQyAbye">Tom Misch</a></li>
            <li><a href="https://open.spotify.com/artist/0hEurMDQu99nJRq8pTxO14">John Mayer</a></li>
            <li><a href="https://open.spotify.com/artist/7MoIc5s9KXolCBH1fy9kkw">FINNEAS</a></li>
            <li><a href="https://open.spotify.com/artist/37M5pPGs6V1fchFJSgCguX">Lorde</a></li>

            <!-- <li><a href="https://open.spotify.com/artist/0hEurMDQu99nJRq8pTxO14">Frank Ocean</a></li> -->
        </ul>
        <p>
            Here's an encapsulation of what I've listened to in 2021 (minus the hours of lofi
            and binaural beats from YouTube and Brain.fm)
        </p>
        <img src="/images/spotify_wrapped_2021.jpeg"></img>
        <h3>📚 What I've been reading</h3>
        <p class="italic">The books I'm currently reading, pulled from my <a
                href="https://www.goodreads.com/review/list/36837307?shelf=currently-reading">Goodreads</a>:</p>
        <ul>
            <li><a href="https://www.goodreads.com/book/show/51071872-boundless">Boundless</a> by Ben Greenfield (kindle)</li>
            <li><a href="https://www.goodreads.com/book/show/11289729-sacred-economics">Sacred Economics</a> by Charles Eisenstein
                (audiobook)</li>
            <li><a href="https://www.goodreads.com/book/show/20518872-the-three-body-problem">The Three-Body Problem</a>
                by Liu Cixin (while swimming)</li>
        </ul>
        <hr>
        <h3>🙏🏽 Appreciation</h3>
        <p class="italic">The code for this blog stands on the shoulders of giants. Here are a few of my inspirations:</p>
        <ul>
            <li>
                The idea to use Hugo and create a self-hosted static site was inspired by
                <a href="http://jamie-wong.com/">Jamie</a> and his lovely site
            </li>
            <li>
                A lot of design components like the progress bar, image previews, and iconography
                were inspired by <a href="https://www.spencerchang.me/">Spencer </a> and his 
                quirky & unique site
            </li>
            <li>
                This now page was inspired by <a href="https://antdke.co/pages/now/">Anthony</a> and <a
                href="https://nownownow.com/about">Derek</a>
            </li>
            </ul>
        <p><span class="italic">Updated: Nov. 25, 2021 from Wesley Chapel, FL</span> 🎄</p>
    </div>
    <figure class="banner_footer">
        <img src="/images/footer_banner.png"></img>
    </figure>
</div>
{{ end }}
