{{ define "main" }}
    <div class="banner_list_container">
        <figure class="banner_image">
            <a href="/" class="image_link">
                <img src="/images/now_banner.png"></img>
            </a>
        </figure>
        <div class="now_content">
            <!-- <h1>What I've been doing</h1> -->
            <h3>📝 Writing a blog & newsletter</h3>
                <p>This website / blog and <a href="https://tinyletter.com/nikhilthota">Thot's Thoughts</a> (my monthly newsletter) are avenues for creative output. My goal is to write a few thot-ful things every month.</p>
            <h3>👨🏽‍💻 Engineering @ Facebook</h3>
                <p>My day job is getting pretty interesting. I'm leading a project to bring more safety features into Facebook Marketplace while meeting up with strangers.</p>
            <h3>🎶 Listening History</h3>
                <p class="italic">My top artists for the past month, pulled from my <a href="https://open.spotify.com/user/1245029147">Spotify</a></p>
            <!-- <ul>
                {{ $resource := (.Resources.GetMatch "spotify.json").RelPermalink }}
                {{ $data := getJSON "content" $resource }}
                {{ range $artists := $data.items }}
                    <ul>
                        <li>{{ .external_urls.spotify }}</li>
                        <li>{{ .name }}</li>
                        <li>{{ (index .images 0).url }}</li>
                    </ul>
                {{ end }}
              </ul> -->
                <!-- https://developer.spotify.com/console/get-current-user-top-artists-and-tracks/?type=artists&time_range=short_term&limit=&offset= -->
                <ul>
                    <li><a href="https://open.spotify.com/artist/2h93pZq0e7k5yf4dywlkpM">Frank Ocean</a></li>
                    <li><a href="https://open.spotify.com/artist/4ETSs924pXMzjIeD6E9b4u">Surfaces</a></li>
                    <li><a href="https://open.spotify.com/artist/0hEurMDQu99nJRq8pTxO14">John Mayer</a></li>
                    <li><a href="https://open.spotify.com/artist/7CajNmpbOovFoOoasH2HaY">Calvin Harris</a></li>
                </ul>
            <h3>📚 What I've been reading</h3>
            <p class="italic">The books I'm currently reading, pulled from my <a href="https://www.goodreads.com/user/show/36837307-nikhil-thota">Goodreads</a></p>
            <!-- https://www.goodreads.com/review/list/36837307?shelf=currently-reading -->
            <ul>
                <li><a href="https://www.goodreads.com/book/show/35167685-surely-you-re-joking-mr-feynman">"Surely You're Joking, Mr. Feynman!"</a> by Richard Feynman</li>
                <li><a href="https://www.goodreads.com/book/show/629.Zen_and_the_Art_of_Motorcycle_Maintenance">Zen and the Art of Motorcycle Maintenance</a> by Robert Pirsig</li>
            </ul>
            <hr>
            <p>Inspired by <a href="https://antdke.co/pages/now/">Anthony</a> and <a href="https://nownownow.com/about">Derek</a></p>
            <p><span class="italic">Updated: Mar. 19, 2021 from Wesley Chapel, FL</span> 🎄</p>
        </div>
    </div>
{{ end }}
