{{ define "main" }}
<div class="banner_list_container">
    <figure class="banner_image">
        <a href="/" class="image_link">
            <img src="/images/notes_banner.png"></img>
        </a>
    </figure>
    <div class="now_content">
        <p>lightweight notes on ideas, inspiration, and experiments</p>
    </div>
    <!-- <ul class="banner_post_list"> -->
    <div class="summary_small_container">
    {{ $p := slice "Notes" }}
    {{ range where .Site.RegularPages "Params.tags" "intersect" $p}} {{ .Render "summary_small" }} {{ end }}
    </div>
</div>
{{ end }}