/* Variables */
$color-background: #fafffa;
$color-subtitle: #acacac;
$color-highlight: #fef4ad;

$color-font-primary: #333333;
$color-font-secondary: #7c7c7c;

$element-opacity: 60%;

/* Core Components */

body {
    background-color: $color-background;
    margin: 0;
    font-family: proxima-nova, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

::selection {
  background: $color-highlight; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $color-highlight; /* Gecko Browsers */
}

mark {
  background: $color-highlight;
}

h1 {
  color: $color-font-primary;
  font-size: 34px;
  -webkit-margin-after: 0px;
}

h2 {
  font-size: 18px;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 30px;
}

h3 {
  font-size: 16px;
}

c2, p {
  color: $color-font-primary;
  font-size: 15px;
  font-style: normal;
  font-weight: 380;
  -webkit-margin-after: 22px;
  -webkit-margin-before: 22px;
  line-height: 1.6em;
}

li {
  color: $color-font-primary;
  font-size: 15px;
  font-style: normal;
  font-weight: lighter;
  line-height: 1.6em;
}

hr {
  opacity: $element-opacity;
}

ol, ul {
  -webkit-margin-before: 22px;
  -webkit-margin-after: 22px;

  li {
    -webkit-margin-after: 4px;
  }
}

/* https://www.w3schools.com/howto/howto_css_bullet_color.asp */

a:link, a:visited {
  color: #4a4a4a;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
}

a:hover, a:active {
  color: #4a4a4a;
  border-bottom-color: #000;
  transition: border-color 300ms ease-in-out;
}

/* Individual Post Page: nikhilthota.com/post/ */

.post_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 30px auto 30px auto;
  max-width: 600px;
  padding: 0 12px 0 12px;
}

.article_header {
  width: 100%;
  text-align: left;

  h1 {
    font-size: 32px;
  }

  h2 {
    opacity: $element-opacity;
    color: $color-font-secondary;
    -webkit-margin-before: 10px;
  }

  .reading_time {
    margin: 0;
    font-weight: lighter;;
  }

  @media (max-width: 48em) {
    h1 {
      font-size: 28px;
    }
  }
}

.post_content {
  font-style: normal;
  line-height: 150%;
  text-align: left;

  hr {
    padding-bottom: 8px;
    border: none;
    text-align: center;
    font-size: 20px;
  }

  hr::before {
    content: "...";
    text-indent: 0.6em;
    letter-spacing: 1em;
    line-height: 2;
    font-style: italic;
  }

  blockquote {
    margin: 0;
    padding-left: 1rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 100%;
      background: #c5c4c4;
      opacity: $element-opacity;
      border-radius: 2px / 4px;
    }

    p {
      margin: 10px 0 10px 0;
    }
  }

  ul {
    list-style: none;

    li::before {
      content: "\2022";
      color: $color-font-primary;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      opacity: 80%;
    }
  }

  .gist {
    position: relative;
    width: 600px;
    max-width: 92vw;

    // .gist-file {
    //   .gist-data {
    //     background-color: $color-background;
    //   }
    // }
  }

  .pullquote {
    position: relative;
    margin: 1em;
    font-size: 16px;

    &::before {
      content: "“";
      position: absolute;
      right: 100%;
      font-size: 60px;
      line-height: 0;
      top: 25px;
      color: $color-font-secondary;
    }
  }

  figure {
    margin-left: 0;
    margin-right: 0;

    &:not(.main_image) {
      display: table;
      margin: auto;

      figcaption {
        display: table-caption;
        caption-side: bottom;
      }
    }

    &.main_image {
      img {
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100vw;
      }

      figcaption {
        max-width: 100vw;
        width: 100vw;
        margin-left: -50vw;
        margin-right: -50vw;
        left: 50%;
        position: relative;

        p {
          margin: 0 10vw;
        }
      }
    }

    img {
      max-width: 100%;
      display: flex;
      margin: auto;
    }

    figcaption {
      margin: auto;

      p {
        font-style: italic;
        color: $color-font-secondary;
        font-size: 15px;
      }
    }

    p {
      margin: 0;
      margin: auto;
      text-align: center;
    }
  }

  .elsewhere_post {
    //TODO: align left
  }
}

/* Main Page: nikhilthota.com */

.container {
  transform: translateY(6%);
  padding: 0 12px 0 12px;
  max-width: 500px;
  min-width: 300px;
}

.emoji {
  font-style: none;
}

.title {
  animation: bounceInUp 1s forwards;
}

.avatar {
  animation: bounceInUp 1s .7s forwards;
  visibility: hidden;
}

.page_blurb {
  // text-align: left;
  margin: 20px auto 20px auto;

  animation: bounceInUp 1s 2s forwards;
  visibility: hidden;
}

.icon_anim {
  animation: bounceInUp 1s 2.2s forwards;
  visibility: hidden;
}

.writing_blurb {
  margin: 30px auto 20px auto;
  height: 45px;

  c2 {
    font-style: italic;
  }

  animation: bounceInUp 1s 2.4s forwards;
  visibility: hidden;
}

.post_list {
  list-style: none;
  padding: 0;

  animation: fadeInUp 1s 2.8s forwards;
  visibility: hidden;
}

.post_description {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
  text-align: left;
}

.postlist_data {
  color: $color-font-secondary
}

.postlist_description {
  font-style: italic;
}

.post_date {
  margin-top: 4px;
}

.nikhil {
  width: 200px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  &.small {
    width: 120px;
  }

  &:hover, &:active, &:focus {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
  }
}

/* Author Section */

.author_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.author_list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.author_icon_list {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 55px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.image_link {
  border-bottom-style: none !important;
  margin-right: 40px;
}

/* Icon Lists */

.icon_list {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 54px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.medium {
  background-size: 85%;
  background-image: url(../images/medium_grey.png);
  background-repeat: no-repeat;
}

.medium:hover, .medium:focus {
  background-image: url(../images/medium.png);
}

.twitter {
  background-size: 90%;
  background-image: url(../images/twitter_grey.png);
  background-repeat: no-repeat;
}

.twitter:hover, .twitter:focus {
  background-image: url(../images/twitter.png);
}

.github {
  background-size: 90%;
  background-image: url(../images/github_grey.png);
  background-repeat: no-repeat;
}

.github:hover, .github:focus {
  background-image: url(../images/github.png);
}

.link_button {
  width: 30px;
  height: 30px;
  background-position: center;
  display: block;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  margin-top: 0;
  margin-right: 12px;
  margin-left: 12px;
  padding: 0px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;

  &:hover, &:active, &:focus {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.link_button:link  {
  border-bottom-style: none;
}

.small_button {
  width: 24px;
  height: 24px;
  background-position: center;
  display: block;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  border-bottom-style: none !important;
  cursor: pointer;
  border-radius: 0;
  margin-top: 0;
  margin-right: 4px;
  margin-left: 4px;
  padding: 0px;

  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  &:hover, &:active, &:focus {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* Footer */

.footnote-ref, .footnote-backref {
  border-bottom-style: none !important;
  font-size: smaller;
  background-color: $color-highlight;
  opacity: $element-opacity;
  color: $color-font-secondary;
}

.footnotes {
  p {
    -webkit-margin-after: 12px;
    -webkit-margin-before: 0;
  }
}

.footer_blurb {
  text-align: left;

  p {
    font-style: italic;
  }
}

.post_footer {
  width: 100%;

  hr {
    margin-top: 20px;
  }

  .footer_blurb {
    text-align: left;

    p {
      font-style: italic;
    }
  }

  .calls_to_action {
    text-align: left;
    display: flex;
    flex-direction: left;
  }

  .calls_to_action > * + * {
     margin-left: 10px;
  }

  .adjacent_posts {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    font-weight: bold;

    h3 {
      text-align: center;
    }

    a {
      display: flex;
      align-items: center;
      border-bottom-style: none;
    }

    a:link, a:visited {
      color: $color-font-secondary;
      text-decoration: none;
    }

    a:hover, a:active {
      color: $color-font-primary;
      transition: color 300ms ease-in-out;
    }

    i {
      font-size: 20px;
      margin: 0px;
    }

    .prev {
      text-align: left;
      margin-right: 40px;
    }

    .next {
      justify-content: flex-end;
      text-align: right;
      margin-left: auto
    }
  }
}

/* Animations */

// got from https://jarv.is/notes/css-waving-hand-emoji/
span.wave:hover {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg) }
   10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
   20% { transform: rotate( 12.0deg) }
   30% { transform: rotate(-10.0deg) }
   40% { transform: rotate(  9.0deg) }
   50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
  100% { transform: rotate(  0.0deg) }
}

/* Borrowed from https://animate.style/ — https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.css */

@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    visibility: visible;
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    visibility: visible;
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

/* For non-mobile devices */
@media (min-width: 48em) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  c1, c2, p, li {
    font-size: 17px;
  }

  .post_container {
    min-width: 600px;

    .pullquote {
      font-size: 18px;
    }
  }
}
