{{ define "main" }}
    <div class="banner_list_container">
        <figure class="banner_image">
            <a href="/" class="image_link">
                <img src="/images/projects_banner.png"></img>
            </a>
            <span>👆🏽 (click banner to go home)</span>
        </figure>
        <div class="now_content">
            <p>
                Here are links (and possibly writeups) to projects that I've worked on in the past. 
                My projects range from side projects, code I've shipped for organizations, apps, 
                podcasts, and more.
            </p>
        </div>
        <ul class="banner_post_list">
            <!-- This works for whatever reason to filter based on Tinker tag -->
            {{ $p := slice "Tinker" }}
            {{ range where .Site.RegularPages "Params.tags" "intersect" $p}} {{ .Render "summary" }} {{ end }}
        </ul>
    </div>
    {{ partial "squiggly.html" . }}
{{ end }}