{{ define "main" }}
    <div class="banner_list_container">
        <figure class="banner_image">
            <a href="/" class="image_link">
                <img src="/images/projects_banner.png"></img>
            </a>
            <span>👆🏽 (click banner to go home)</span>
        </figure>
        <div class="now_content">
            <p>
                Here are links (and possibly writeups) to projects that I've worked on in the past. 
                My projects range from side projects, code I've shipped for organizations, apps, 
                podcasts, and more.
            </p>
        </div>
        <ul class="banner_post_list">
            <!-- This works for whatever reason to filter based on Tinker tag -->
            {{ $p := slice "Tinker" }}
            {{ range where .Site.RegularPages "Params.tags" "intersect" $p}} {{ .Render "summary" }} {{ end }}
        </ul>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
          <filter id="squiggly-0">
            <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
            <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="6" />
          </filter>
          <filter id="squiggly-1">
            <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="1"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="8" />
          </filter>
          
          <filter id="squiggly-2">
            <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="6" />
          </filter>
          <filter id="squiggly-3">
            <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="8" />
          </filter>
          
          <filter id="squiggly-4">
            <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="6" />
          </filter>
        </defs> 
      </svg>
{{ end }}