{{ define "main" }}
<div class="container">
  <figure class="boat-image">
    <img src="/images/boat.png"></img>
  </figure>
  <div class="left-side">
    <h1>Dear Mack,</h1>
    <div id="text-container">
    </div>
    <p>I love you.</p>
    <p>— Nikhil 🧡</p>
    <p style="font-style: italic;">Thanks to <a href="https://github.com/jackyzha0/telescopic-text">Jacky</a> for creating this awesome Telescopic Text Library, 
    to <a href="https://www.artofcarl.com/">Carl</a> for the breathtaking art, and of course to Mack for being you</p>
  </div>
</div>

<script>
    const paragraph1 = `
      * Happy birthday
        * Happy 
        * 25th 
          * quarter-century
        * birthday
      * bun!
        * cinnamon bun!
    `;
    const paragraph2 = `
      * I ...
    `;
    const node1 = createTelescopicTextFromBulletedList(paragraph1);
    const node2 = createTelescopicTextFromBulletedList(paragraph2);
    const container = document.getElementById("text-container");
    container.prepend(node2);
    container.prepend(node1);
</script>

<style>
  body {
    /* font-family: ???; */
    background-color: #ff950028;
    --telescope-highlight: #d87c3f35;
    --telescope-highlight-hover: #d87f3f61;
    --telescope-text-color: #333333;
  }

  a {
    color: #d87c3f !important;
  }

  p {
    font-size: 17px;
  }

  img {
    max-width: 100%;
    display: flex;
    box-shadow: 5px 5px 40px 10px rgb(0 0 0 / 30%);
  }

  #text-container {
    padding-top: 24px;
  }

  .boat-image {
    position: relative;
    margin: 15px 5px 30px 5px;
  }

  .left-side {
    justify-content: start;
    align-items: flex-start;
    text-align: start;
  }
</style>
{{ end }}
