{{ define "main" }}
    <div class="banner_list_container">
        <figure class="banner_image">
            <a href="/" class="image_link">
                <img src="/images/writing_banner.png"></img>
            </a>
            <span>👆🏽 (click banner to go home)</span>
        </figure>
        <ul class="banner_post_list">
            {{ range where .Site.RegularPages ".Params.unlisted" "!=" "true"}} {{ .Render "summary" }} {{ end }}
        </ul>
        <figure class="banner_footer">
            <img src="/images/footer_banner.png"></img>
        </figure>
    </div>
{{ end }}