<div class="post_description">
    <li>
      <span>
      {{ if .Params.canonicalUrl }}
        <a class="post_title" target="_blank" href="{{ .Params.canonicalUrl }}">{{ .Title }}</a>
      {{ else }}
        <a class="post_title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
      </span>
    </li>
    <li>
      <span class="postlist_data">
        {{ .Date.Format "January 2006" }}
        <span>//
          {{ if .Params.canonicalUrl }}
                {{ .Params.readingTime }}
            {{ else }}
                {{ .ReadingTime }}
            {{ end }}
          min
        </span>
      </span>
    </li>
    <li>
      <span class="postlist_description">
        {{  .Params.Description }}
      </span>
    </li>
  </div>