<div class="post_summary_container">
  <div class="post_summary_image_container">
    {{ if .Params.canonicalUrl }}
      <a class="image_link" target="_blank" href="{{ .Params.canonicalUrl }}">
        <img class="post_summary_image" src="{{ .Params.image }}" />
      </a>
    {{ else }}
      <a class="image_link" href="{{ .RelPermalink }}">
        <img class="post_summary_image" src="{{ .Params.image }}" />
      </a>
    {{ end }}
  </div>
  <div class="post_description">
    <li class="postlist_data">
      <span>
        {{ .Date.Format "January 2, 2006" }}
        <span>
          {{ if in .Params.tags "Travel" }}
            | <a href="/travel">
              <span class="iconify" data-icon="fa-solid:globe-americas"></span>
              travel</a>
          {{ end }}
          {{ if in .Params.tags "Tinker" }}
            | <a href="/projects">
              <span class="iconify" data-icon="mdi:hammer-wrench"></span>
              project</a>
          {{ end }}
          {{ if .Params.favorite }}
            | <span class="iconify" data-icon="emojione:star"></span>
          {{ end }}
        </span>
      </span>
    </li>
    <li>
      <span>
      {{ if .Params.canonicalUrl }}
        <a class="post_title" target="_blank" href="{{ .Params.canonicalUrl }}">{{ .Title }}</a>
      {{ else }}
        <a class="post_title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
      </span>
    </li>
    <li>
      <span class="postlist_description">
        {{  .Params.Description }}
      </span>
    </li>
  </div>
  </div>