{{ define "main" }}
    <div class="banner_list_container">
        <figure class="banner_image">
            <a href="/" class="image_link">
                <!-- Make sure to replace this -->
                <!-- <img src="/images/now_banner.png"></img> -->
            </a>
        </figure>
        <div class="now_content">
            <div class="book_content">
                <h3>What is this?</h3>
                <p>I love <a href="https://www.goodreads.com/user/show/36837307-nikhil-thota">reading</a>. I want to
                read more of the great books throughout history — the ones that have shaped societies and
                have moved people to action. This a page to capture what I have read and to curate a list of
                these 'great books' that I hope to read during my life.</p>
                <h3>2021</h3>
                    <ul>
                        <li>⭐️ Ted Chiang: Stories of Your Life</li>
                        <li>⭐️ Sarah Vowell: Unfamiliar Fishes</li>
                        <li>⭐️ Derek Sivers: Anything You Want</li>
                        <li>⭐️ James Nestor: Breath</li>
                        <li>🌟 Morgan Housel: The Psychology of Money</li>
                    </ul>
                <h3>Reading List</h3>
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="legend">
                <h3>Legend</h3>
                <p>💫 This was the best book that I read all year</p>
                <p>🌟 An incredibly good book</p>
                <p>⭐️ Great book, would recommend</p>
                <p>👍🏽 Alright, couldn't get into it too much</p>
                <p>🤕 Not good</p>
                <p>🤮 This was a waste of my time</p>
            </div>
            <hr>
            <p>Inspired by <a href="https://tommycollison.com/greatbooks">Tommy Collison</a></p>
            <p><span class="italic">Updated: Mar. 19, 2021 from Wesley Chapel, FL</span> 🎄</p>
        </div>
    </div>
{{ end }}
