<div class="author_container">
  <a href="/" class="image_link"><img class="nikhil small" src="{{ "images/nikhil-v2-fade-small.png" | absURL}}"></img></a>
    <div class="author_right">
        <ul class="author_list">
            <li class="post_author">
                <a class="yellow_link" href="/">Nikhil Thota</a>
            </li>
            <li>
              <div class="author_icon_list">
                  <table>
                    <tr>
                      <a class="tinyletter small_button image_link" href="https://tinyletter.com/nikhilthota" target="_blank"></a>
                      <a class="github small_button image_link" href="https://github.com/nt92" target="_blank"></a>
                      <a class="twitter small_button image_link" href="https://twitter.com/nikhilthota" target="_blank"></a>
                    </tr>
                  </table>
                </div>
          </li>
          <li class="post_date">
            {{ if .IsPage }}
            {{ .Date.Format "Jan. 2, 2006" }}
            {{ else }}
            <span style="font-style: italic;">{{ .Title }}</span>
            {{ end }}
          </li>
        </ul>
    </div>
  </div>
