<div class="author_container">
  <a href="/" class="image_link"><img class="nikhil small" src="{{ "images/nikhil-v2-fade-small.png" | absURL}}"></img></a>
    <div class="author_right">
        <ul class="author_list">
            <li class="post_author">
                <c2><a class="yellow_link" href="/">Nikhil Thota</a></c2>
            </li>
            <li>
              <div class="author_icon_list">
                  <table>
                    <tr>
                      <a class="twitter small_button image_link" href="https://twitter.com/nikhilthota" target="_blank"></a>
                      <a class="github small_button image_link" href="https://github.com/nt92" target="_blank"></a>
                      <a class="medium small_button image_link" href="https://medium.com/@nikhilthota" target="_blank"></a>
                    </tr>
                  </table>
                </div>
          </li>
          <li class="post_date">
              <c2>{{ .Date.Format "Jan. 2, 2006" }}</c2>
          </li>
        </ul>
    </div>
  </div>
