<div class="author_container">
  <a href="/" class="image_link"><img class="nikhil small" src="{{ "images/nikhil-v2-fade-small.png" | absURL}}"></img></a>
    <div class="author_right">
        <ul class="author_list">
            <li class="post_author">
                <a class="yellow_link" href="/">Nikhil Thota</a>
            </li>
            <li>
              <div class="author_icon_list">
                  <table>
                    <tr>
                      <a class="link_button image_link" href="https://twitter.com/nikhilthota" ><span class="iconify" data-icon="logos:twitter"></span></a>
                      <a class="link_button image_link" href="https://github.com/nt92" ><span class="iconify" data-icon="akar-icons:github-fill"></span></a>
                      <a class="link_button image_link" href="https://www.linkedin.com/in/nikhil-thota-ab2731104/" ><span class="iconify" data-icon="akar-icons:linkedin-fill"></span></a>
                    </tr>
                  </table>
                </div>
          </li>
          <li class="post_date">
            {{ if .IsPage }}
            {{ .Date.Format "Jan. 2, 2006" }}
            {{ else }}
            <span style="font-style: italic;">{{ .Title }}</span>
            {{ end }}
          </li>
        </ul>
    </div>
  </div>
