<head>
    <title> {{.Title}} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ .Description }}">
    <meta name="keywords"
        content="{{ with .Params.Tags }}{{ delimit . ", " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}" />
    <!--— facebook open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:secure_url" content="{{ .Params.image | absURL}}" />
    <meta property="og:title" content="{{.Title}}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:image" content="{{ .Params.image | absURL }}" />
    <!-- twitter card tags -->
    <meta name="twitter:card" content="{{ if .IsHome }}summary{{ else }}summary_large_image{{ end }}">
    <meta name="twitter:domain" content="{{ .Site.BaseURL }}" />
    <meta name="twitter:title" content="{{.Title}}" />
    <meta name="twitter:description" content="{{ .Description }}" />
    <meta name="twitter:image" content="{{ .Params.image | absURL }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:creator" content="@nikhilthota" />
    <meta name="twitter:site" content="@nikhilthota" />
    {{ if .IsHome }}
    <meta name="twitter:label1" content="Currently" />
    <meta name="twitter:data1" content='Engineer @ Facebook on Marketplace Integrity 🛍' />
    {{ else }}
    <meta name="twitter:label1" content="Posted on" />
    <meta name="twitter:data1" content='{{.Date.Format "January 2, 2006"}}' />
    <meta name="twitter:label2" content="Reading time" />
    <meta name="twitter:data2" content="{{ .ReadingTime }} mins ⏱" />
    {{ end }}
    <!-- <meta name="robots" content="noodp" /> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98779661-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-98779661-1');
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {{ $sass := resources.Get "/sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $sass.Permalink }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <!-- From https://css-tricks.com/emojis-as-favicons/ show emoji as favicon for posts -->
    {{ if .Params.emoji }}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ .Params.emoji }}</text></svg>">
    {{ end }}
    <script src="{{ "js/custom.js" | absURL}}"></script>
    {{ if .Params.canonicalUrl }}
    <link rel="canonical" target="_blank" href="{{ .Params.canonicalUrl }}">
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ end }}
</head>
