<!-- src: https://blog.christopherianmurphy.com/2017/05/expand-collapse-navbar/ -->
<nav id="navbar">
  <div class="navbar_container">
    <div class="navbar_title">
      <a href="/" class="image_link avatar_link">
        <img class="nikhil mini" src="{{ "images/nikhil-v2-card-small.png" | absURL}}"/>
      </a>
      <a href="/" class="navbar_link image_link"><h2>Nikhil Thota</h2></a>
    </div>
    <div class="navbar_actions">
      <a href="/now" class="image_link"><b class="navbar_emoji">📍</b> <span>now</span></a>
      <a href="https://brain.nikhilthota.com/" class="image_link"><b class="navbar_emoji">🧠</b> <span>brain</span></a>
      <a href="/writing" class="image_link"><b class="navbar_emoji">✍🏽</b> <span>writing</span></a>
      <a href="/travel" class="image_link"><b class="navbar_emoji">🌎</b> <span>travel</span></a>
      <!-- <a href="/books"><span>books</span> <b>📚</b></a> -->
      <a href="/projects" class="image_link"><b class="navbar_emoji">⚒️</b> <span>projects</span></a>
    </div>
    <div class="navbar_external">
      <a class="link_button image_link" href="https://twitter.com/nikhilthota" ><span class="iconify" data-icon="logos:twitter"></span></a>
      <a class="link_button image_link" href="https://github.com/nt92" ><span class="iconify" data-icon="akar-icons:github-fill"></span></a>
      <a class="link_button image_link" href="https://www.goodreads.com/user/show/36837307-nikhil-thota" ><span class="iconify" data-icon="cib:goodreads"></span></a> 
      <a class="link_button image_link" href="https://open.spotify.com/user/1245029147" ><span class="iconify" data-icon="logos:spotify-icon"></span></a>
      <a class="link_button image_link" href="https://www.linkedin.com/in/nikhil-thota-ab2731104/" ><span class="iconify" data-icon="akar-icons:linkedin-fill"></span></a>
    </div>
    <div class="navbar_hamburger">
      <div style="font-size:32px;cursor:pointer" onclick="openNav()">&#9776;</div>
    </div>
  </div>

  <script>
    // Store navbar classes
    var navbarElem = document.getElementById("navbar");
    var navClasses = navbarElem.classList;
    var navbarHeight = navbarElem.clientHeight;

    function downAction() {
      navClasses.remove("open");
      navClasses.add("collapse");
    }

    function upAction() {
      navClasses.remove("collapse");
      navClasses.add("open");
    }

    // returns current scroll position
    var scrollTop = function() {
      return window.scrollY;
    };

    // Initial scroll position
    var scrollState = 0;

    // Primary scroll event function
    var scrollDetect = function(down, up) {
      // Current scroll position
      var currentScroll = scrollTop();
      if (currentScroll > scrollState && currentScroll > navbarHeight / 3) {
        down();
      } else if (currentScroll < scrollState) {
        up();
      }
      // Set previous scroll position
      scrollState = scrollTop();
    };
    window.addEventListener("scroll", function() {
      scrollDetect(downAction, upAction);
    });
  </script>
</nav>

<div id="myNav" class="overlay">
  <div style="font-size:32px;cursor:pointer;margin-left:auto;width:32px;" onclick="closeNav()">&times;</div>
  <div class="overlay_content">
    <a href="/now" class="image_link"><b class="navbar_emoji">📍</b> <span>now</span></a>
    <a href="https://brain.nikhilthota.com/" class="image_link"><b class="navbar_emoji">🧠</b> <span>brain</span></a>
    <a href="/writing" class="image_link"><b class="navbar_emoji">✍🏽</b> <span>writing</span></a>
    <a href="/travel" class="image_link"><b class="navbar_emoji">🌎</b> <span>travel</span></a>
    <!-- <a href="/books"><span>books</span> <b>📚</b></a> -->
    <!-- <a href="/notes" class="image_link"><b class="navbar_emoji">📝</b> <span>notes</span></a> -->
    <a href="/projects" class="image_link"><b class="navbar_emoji">⚒️</b> <span>projects</span></a>
    <a href="mailto:nthota92@gmail.com" class="image_link"><b class="navbar_emoji">📬</b> <span>email me</span></a>
    <a href="/resume.pdf" class="image_link"><b class="navbar_emoji">📝</b> <span>my resume</span></a>
  </div>
  <div class="navbar_external_overlay">
    <a class="link_button image_link" href="https://twitter.com/nikhilthota" ><span class="iconify" data-icon="logos:twitter"></span></a>
    <a class="link_button image_link" href="https://github.com/nt92" ><span class="iconify" data-icon="akar-icons:github-fill"></span></a>
    <a class="link_button image_link" href="https://www.goodreads.com/user/show/36837307-nikhil-thota" ><span class="iconify" data-icon="cib:goodreads"></span></a> 
    <a class="link_button image_link" href="https://open.spotify.com/user/1245029147" ><span class="iconify" data-icon="logos:spotify-icon"></span></a>
    <a class="link_button image_link" href="https://www.linkedin.com/in/nikhil-thota-ab2731104/" ><span class="iconify" data-icon="akar-icons:linkedin-fill"></span></a>
    <a class="link_button image_link" href="https://tinyletter.com/nikhilthota" ><span class="iconify" data-icon="simple-icons:tinyletter"></span></a>
  </div>
</div>

<script>
  function openNav() {
    document.getElementById("myNav").style.width = "100%";
    document.getElementsByTagName("body")[0].style.overflow = "hidden";
  }
  
  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
    document.getElementsByTagName("body")[0].style.overflow = "visible";
  }
</script>