<div class="footer_cta">
    <div class="footer_blurb">
        <p>Thanks for reading! If you enjoy my site, you can subscribe via
        <a class="yellow_link" href="/index.xml">RSS</a>, peep me on
        <a href="https://twitter.com/nikhilthota" target="_blank">twitter</a>,
        check out my other <a class="yellow_link" href="/">posts</a>, or
        follow my <a href="https://tinyletter.com/nikhilthota" target="_blank">newsletter</a></p>
    </div>
    <form class="tinyletter" action="https://tinyletter.com/nikhilthota" method="post" target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/nikhilthota', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <div class="tinyletter-input">
            <input type="text" placeholder="Your Email" name="email" id="tlemail" />
            <button type="submit">Subscribe</button>
            <input type="hidden" value="1" name="embed"/>
        </div>
    </form>
</div>
<div class="adjacent_posts">
    {{ if .Next }}
    <div class="prev">
        <a class="image_link prev_link" href="{{ .Next.Permalink }}">
            <i class='uil uil-enter'></i>
             <h3>{{.Next.Title}}</h3>
        </a>
    </div>
    {{ end }}
    {{ if .Prev }}
    <div class="next">
        <a class="image_link next_link" href="{{ .Prev.Permalink }}">
            <h3>{{.Prev.Title}} </h3>
            <i class='uil uil-corner-down-right-alt'></i>
        </a>
    </div>
    {{ end }}
</div>
<!-- <script src="/js/permalink.js"></script> -->
