{{ define "main" }}
<!-- Inspiration: https://chiaski.github.io/i-love-it-when-you/ -->
<div class="">
  <!-- Photo Album: https://timnwells.medium.com/create-a-simple-responsive-image-gallery-with-html-and-css-fcb973f595ea -->
  <div id="photo-album">
    <img src="/article_images/macc-4y/1.PNG">
    <img src="/article_images/macc-4y/2.JPG">
    <img src="/article_images/macc-4y/3.jpeg">
    <img src="/article_images/macc-4y/5.jpeg">
    <img src="/article_images/macc-4y/6.jpeg">
    <img src="/article_images/macc-4y/7.jpeg">
    <img src="/article_images/macc-4y/8.jpeg">
    <img src="/article_images/macc-4y/9.jpeg">
    <img src="/article_images/macc-4y/11.jpeg">
    <img src="/article_images/macc-4y/10.jpeg">
    <img src="/article_images/macc-4y/12.jpeg">
  </div>
  <div class="grad"></div>
  <main>
    <section id="g">
      <div id="i-love-it">
        <p>Dear Macc, I love</p>
      </div>
      <div id="when-you">
        <p>all these things you do</p>
      </div>
    </section>
  </main>
</div>

<script>
  let c = 1;
  const when = [
    "the little noises & sounds you make (huhhh)",
    "your obsession with Luca Paccioli and accounting",
    "how much you love Ancient Rome and history",
    "the mini crushes you get on anime protagonists",
    "your teen shows (lol)",
    "how you tell me your dreams every morning",
    "the love that you have for your family (especially your nephews)",
    "your ... potty",
    "the way you say 'TV' when looking at my phone",
    "how you've made me more appreciative of art and history",
    "that you've encouraged me to be more (begrudgingly) clean hehe",
    "the level of emotional depth and connection we have",
    "that I can be completely myself around you",
    "how you've made me way better at gift-giving",
    "your suggestion to grow my hair longer",
    "the inspiration you've given me to eat more oatmeal",
    "how hard you work and inspire me to do the same",
    "the way you make me feel truly loved",
    "that you support me following my dreams",
    "that you would spend 4 (and many more) years with a goon like me",
  ];

  function shuffle(array) {
    array.sort(() => Math.random() - 0.5);
  }

  // shuffle on start
  $(function () {
    shuffle(when);
  });

  $(document).click(function (e) {
    if (e.button === 0) {
      $("<p>" + when[c] + "</p>").hide().prependTo("#when-you").fadeIn(2000);
      c++;
      if (c === when.length) {
        $("#photo-album").css('visibility', 'visible').css('position', 'relative').fadeIn(2000);
        $("<p>you. Happy anniversary ❤️</p>").hide().prependTo("#when-you").fadeIn(2000);
        $("body").css('background', '#000');
        $("#g p").css('color', '#fff');
        $(document).unbind("click");
      }
    }
  });
</script>

<style>
    * {
        box-sizing: border-box;
        cursor: pointer !important;
    }

    body,
    html {
        margin: 0;
        padding: .25em;
        transition: background 4s linear;
        -webkit-transition: background 4s linear;
        -moz-transition: background 4s linear;
        overflow: hidden;

        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    main {
        text-align: center;
        font-size: 2.6em !important;
        line-height: 90%;
        letter-spacing: -1.5px;
    }

    .grad {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 80vh;
        pointer-events: none;
        background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
    }

    #g {
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    #g div {
        padding: .15em;
        display: inline;
        line-height: 98vh;
        width: 48%;
    }

    #g #i-love-it {
        /*background: red;*/
        height: 100%;
        text-align: right;
    }

    #g #i-love-it p,
    #g #when-you p {
        width: 100%;
        margin-bottom: .5em;
        line-height: 90%;
        pointer-events: none;
        transition: background 4s linear;
        -webkit-transition: background 4s linear;
        -moz-transition: background 4s linear;
    }

    #g #when-you {
        overflow-x: none;
        overflow-y: scroll;
        height: 100%;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
    }

    @media only screen and (max-width: 750px) {
        #g {
            flex-direction: column;
        }

        #g div {
            width: 100%;
            line-height: normal;
            padding: 0;
            margin: 0;
        }

        #g #i-love-it {
            height: auto;
        }

        #g #when-you {
            margin-top: -1.5em;
        }

        #g #i-love-it,
        #g #when-you {
            text-align: left;
        }

        #g #i-love-it p,
        #g #when-you p {
            line-height: 90%;
        }
    }

    #photo-album {
        visibility: hidden;
        position: absolute;
        margin-bottom: 20px;
        line-height:0;
        -webkit-column-count:5; /* split it into 5 columns */
        -webkit-column-gap:5px; /* give it a 5px gap between columns */
        -moz-column-count:5;
        -moz-column-gap:5px;
        column-count:5;
        column-gap:5px;
    }

    img {
        width: 100% !important;
        height: auto !important;
        margin-bottom:5px; /* to match column gap */
    }

    @media (max-width: 1200px) {
        #photo-album {
            -moz-column-count:    4;
            -webkit-column-count: 4;
            column-count:         4;
        }
    }

    @media (max-width: 1000px) {
        #photo-album {
            -moz-column-count:    3;
            -webkit-column-count: 3;
            column-count:         3;
        }
    }

    @media (max-width: 800px) {
        #photo-album {
            -moz-column-count:    2;
            -webkit-column-count: 2;
            column-count:         2;
        }
    }

    @media (max-width: 400px) {
        #photo-album {
            -moz-column-count:    1;
            -webkit-column-count: 1;
            column-count:         1;
        }
    }
</style>
{{ end }}
