{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
<div class="container">
  <div class="avatar"><img class="nikhil" src="{{ "images/nikhil-v2-fade-small.png" | absURL}}"></img></div>
  <h1 class="title">Hey, I'm Nikhil! <span class="emoji wave">🧘🏽‍♂️</span></h1>
  <div class="page_content_animation">
    <div class="page_blurb">
      <p>📍 I'm in San Francisco at <a href="https://www.theneon.house/">Genesis</a> (co-living house)</p>
      <p>️⚡️ As of October 2022, I'm purposefully unemployed and am currently working on & exploring:</p>
      <ul>
        <li>👀 Getting a startup (artificial intelligence meets personal knowledge management) off the ground</li>
        <li>💸 Consulting & advising work to pay the bills with <a href="https://premise.com/">Premise</a>, <a href="https://texts.com/">Texts.com</a>, and <a class="image_link" href="https://dorg.tech/"><img class="dOrg_logo" src="images/dOrg-logo.svg"></a></li>
        <li>🧠 Optimizing my brain & body to <a href="/tags/health/">live better</a></li>
<!--        <li>🏡 Living as a nomad until early 2023, spending my time in co-living spaces, friend's couches, and other countries (?)</li>-->
<!--        <li>I am fascinated by the brain, consciousness, and how we can build tools to think and live better</li>-->
<!--        <li>🏃🏽‍♂️ Humans are fleshy, hackable systems — as such I am working towards complete biological optimization</li>-->
<!--        <li>🪴 <a href="https://maggieappleton.com/garden-history">Digital Gardening</a>: I'm exploring free-form, work-in-progress, wiki-style writing in my <a href="https://brain.nikhilthota.com/">public second brain</a></li>-->
      </ul>
      <p>🧪 In the past, I've been a <a href="https://fellows.kleinerperkins.com/meet-the-fellows/2018/">Kleiner Perkins</a> fellow,
        built safety products on <a href="https://about.fb.com/news/2021/10/shop-on-facebook-instagram-holiday-season/">Facebook Marketplace</a>,
        architected encrypted messaging systems at <a class="image_link" href="https://www.whatsapp.com/"><img class="whatsapp_logo" src="images/whatsapp-logo.svg"></a>, interned at <a href="https://www.indiegogo.com/" >Indiegogo</a> and
        <a href="https://news.crunchbase.com/news/linkedin-snaps-up-drawbridge-its-second-known-acquisition-in-8-months/"> Drawbridge</a>  (acq. by LinkedIn),
        and went to school at <a href="https://news.ufl.edu/articles/2017/08/road-trip-oppor-tuna-ty.html">UF</a></p>
       <p>🤖 My (up-to-date) <a href="/resume.pdf" >resume</a> — come <a href="mailto:nthota92@gmail.com">say hey</a> 😁</p>
    </div>
    <div class="icon_list">
      <table>
        <tr>
          <a class="link_button image_link" href="https://twitter.com/nikhilthota" ><span class="iconify" data-icon="logos:twitter"></span></a>
          <a class="link_button image_link" href="https://github.com/nt92" ><span class="iconify" data-icon="akar-icons:github-fill"></span></a>
          <a class="link_button image_link" href="https://www.goodreads.com/user/show/36837307-nikhil-thota" ><span class="iconify" data-icon="cib:goodreads"></span></a>
          <a class="link_button image_link" href="https://open.spotify.com/user/1245029147" ><span class="iconify" data-icon="logos:spotify-icon"></span></a>
          <a class="link_button image_link" href="https://www.linkedin.com/in/thot/" ><span class="iconify" data-icon="akar-icons:linkedin-fill"></span></a>
          <a class="link_button image_link" href="https://thot.substack.com/" ><span class="iconify" data-icon="simple-icons:substack"></span></a>
        </tr>
      </table>
    </div>
    <div class="writing_blurb">
      <p>Here are some of my best <a href="/writing">writing</a> and <a href="/projects">projects</a> <span class="emoji">✨</span></p>
    </div>
    <ul class="post_list">
    {{ range where .Site.RegularPages ".Params.favorite" true}} {{ .Render "summary" }} {{ end }}
    </ul>
    {{ partial "squiggly.html" . }}
    {{ partial "footer.html" . }}
  </div>
</div>
{{ end }}
