{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
<div class="container">
    <div class="avatar"><img class="nikhil" src="{{"images/nikhil-v2-fade-small.png" | absURL}}"></img></div>
    <h1 class="title">Hey, I'm Nikhil! <span class="emoji wave">🧘🏽‍♂️</span></h1>
    <div class="page_content_animation">
        <div class="page_blurb">
            <p>📍 Living in Cole Valley, San Francisco with my <a href="https://littlecurrywurst.com/about/">wife</a></p>
            <p>🧠 Working on LLMs/search/product at <a href="https://www.perplexity.ai/">Perplexity</a></p>
            <p>🧪 Here are some cool things I've done in the past:</p>
            <ul>
                <li>Spent a year building stuff while on <a
                        href="https://thot.substack.com/p/back-to-the-ol-grind">sabbatical</a></li>
                <li>Architected encrypted systems at <a class="image_link" href="https://www.whatsapp.com/"><img
                            class="whatsapp_logo" src="images/whatsapp-logo.svg"></a></li>
                <li>Built safety products on <a
                        href="https://about.fb.com/news/2021/10/shop-on-facebook-instagram-holiday-season/">Facebook
                        Marketplace</a></li>
                <li>Consulting at <a href="https://premise.com/">Premise</a>, <a
                        href="https://texts.com/">Texts.com</a>, and <a class="image_link"
                        href="https://dorg.tech/"><img class="dOrg_logo" src="images/dOrg-logo.svg"></a></li>
                <li>Venture stuff with <a href="https://fellows.kleinerperkins.com/meet-the-fellows/2018/">Kleiner
                        Perkins</a> fellowship</li>
                <li>Worked at startups: <a href="https://www.indiegogo.com/">Indiegogo</a> and <a
                        href="https://news.crunchbase.com/news/linkedin-snaps-up-drawbridge-its-second-known-acquisition-in-8-months/">
                        Drawbridge</a></li>
                <li>Interviewed people on road trip, made <a
                        href="https://podcasts.apple.com/us/podcast/tuna-pasta/id1251828332">podcast</a></li>
                <li>Studied CS and <a href="https://www.youtube.com/watch?v=9wbnYnIzeqI">bassoon</a> at <a
                        href="https://news.ufl.edu/articles/2017/08/road-trip-oppor-tuna-ty.html">University of
                        Florida</a></li>
            </ul>
            <p>👋🏽 Reach out via <a href="https://twitter.com/nikhilthota">Twitter</a> or <a
                    href="mailto:nthota92@gmail.com">email</a> to say hey 😁</p>
        </div>
        <div class="icon_list">
            <table>
                <tr>
                    <a class="link_button image_link" href="https://twitter.com/nikhilthota"><span class="iconify"
                            data-icon="logos:twitter"></span></a>
                    <a class="link_button image_link" href="https://github.com/nt92"><span class="iconify"
                            data-icon="akar-icons:github-fill"></span></a>
                    <a class="link_button image_link"
                        href="https://www.goodreads.com/user/show/36837307-nikhil-thota"><span class="iconify"
                            data-icon="cib:goodreads"></span></a>
                    <a class="link_button image_link" href="https://open.spotify.com/user/1245029147"><span
                            class="iconify" data-icon="logos:spotify-icon"></span></a>
                    <a class="link_button image_link" href="https://www.linkedin.com/in/thot/"><span class="iconify"
                            data-icon="akar-icons:linkedin-fill"></span></a>
                    <a class="link_button image_link" href="https://thot.substack.com/"><span class="iconify"
                            data-icon="simple-icons:substack"></span></a>
                </tr>
            </table>
        </div>
        <div class="writing_blurb">
            <p>Here are some of my best <a href="/writing">writing</a> and <a href="/projects">projects</a> <span
                    class="emoji">✨</span></p>
        </div>
        <ul class="post_list">
            {{ range where .Site.RegularPages ".Params.favorite" true}} {{ .Render "summary" }} {{ end }}
        </ul>
        {{ partial "squiggly.html" . }}
        {{ partial "footer.html" . }}
    </div>
</div>
{{ end }}
