{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
<div class="container">
  <div class="avatar"><img class="nikhil" src="{{ "images/nikhil-v2-fade-small.png" | absURL}}"></img></div>
  <h1 class="title">Hey, I'm Nikhil! <span class="emoji wave">🧘🏽‍♂️</span></h1>
  <div class="page_content_animation">
    <div class="page_blurb">
      <p>📍 Currently quarantining in San Francisco, CA</p>
      <p>👨🏽‍💻 Cog @ <a href="https://www.whatsapp.com/">WhatsApp</a> building encrypted systems</p>
      <p>🧪 Prev: <a href="https://fellows.kleinerperkins.com/meet-the-fellows/previous-fellows" >KP Fellows</a>,
        <a href="https://www.indiegogo.com/" >Indiegogo</a>,
        <a href="https://news.crunchbase.com/news/linkedin-snaps-up-drawbridge-its-second-known-acquisition-in-8-months/" >LinkedIn</a>,
        <a href="https://news.ufl.edu/articles/2017/08/road-trip-oppor-tuna-ty.html" >UF</a></p>
      <p>✍️ I like writing, <a href="https://www.goodreads.com/user/show/36837307-nikhil-thota" >reading</a>, <a href="/travel">places</a>, & languages</p>
      <p>🤖 My (outdated) <a href="/nikhilthota.pdf" >resume</a> — come <a href="mailto:nthota92@gmail.com">say hey</a> 😁</p>
    </div>
    <div class="icon_list">
      <table>
        <tr>
          <a class="tinyletter link_button image_link" href="https://tinyletter.com/nikhilthota" ></a>
          <a class="github link_button image_link" href="https://github.com/nt92" ></a>
          <a class="twitter link_button image_link" href="https://twitter.com/nikhilthota" ></a>
          <a class="gyro link_button image_link" href="https://gyrosco.pe/nikhilthota/helix/" ></a>
        </tr>
      </table>
    </div>
    <div class="writing_blurb">
      <p>Here are some of my best pieces of <a href="/writing">writing</a> <span class="emoji">✏️</span></p>
    </div>
    <ul class="post_list">
    {{ range where .Site.RegularPages ".Params.favorite" true}} {{ .Render "summary" }} {{ end }}
    </ul>
  </div>
</div>
{{ end }}
